header {
  height: var(--height-header);
}

header.isMain {
  background: var(--color-blue);
  color: var(--color-white);
}

header.notMain {
  color: var(--color-blue);
  box-shadow: 0 2px 4px #0001;
}

header.isMain a:hover {
  color: var(--color-orange);
  transition: calc(var(--animation-duration) / 2) ease-in-out;
}

header.notMain a:hover {
  color: var(--color-blue);
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.header_menu > li {
  font-size: 1.2rem;
  font-weight: 700;
}

.header_menu > li:not(:last-of-type) {
  margin-right: calc(var(--base-space) * 3);
}
