.init_tit {
  position: relative;
  margin-bottom: calc(var(--base-space) * 10);
}

.init_tit > .btn_gotoback {
  position: absolute;
  left: 0;
  font-size: 2rem;
}

.init_tit > .btn_gotoback:hover {
  cursor: pointer;
}

.init_tit > h1 {
  margin-bottom: calc(var(--base-space) * 3);
  line-height: 1.2;
}

.init_tit > p {
  font-size: 1.2rem;
  font-weight: 300;
}

.init_body {
  height: 500px;
  margin-bottom: calc(var(--base-space) * 5);
}

.init_body p {
  margin-bottom: calc(var(--base-space) * 5);
  font-weight: bold;
}

.init_body p.complete {
  color: var(--color-green);
}

.init_body p.incomplete {
  color: var(--color-red);
}

.init_body input {
  width: 8rem;
  margin-left: var(--base-space);
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--color-black);
}

.init_page .example_box > img {
  width: 100%;
}

.init_page .example_box > .timer_box {
  padding: calc(var(--base-space) * 3) calc(var(--base-space) * 4);
  border-radius: 5px;
  background: var(--color-white);
  color: var(--color-darkblack);
  font-size: 1.2rem;
  word-break: break-all;
}

.init_page .example_box > .timer_box > p {
  font-weight: 500;
  margin-bottom: calc(var(--base-space) * 2);
}

.init_page .lower_box .sensor_box {
  margin-top: calc(var(--base-space) * 6);
  position: relative;
  /* padding: calc(var(--base-space) * 3) calc(var(--base-space) * 4); */
  border-radius: 5px;
  background-color: var(--color-white);
  background-image: url("../../image/armchair.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-darkblack);
  font-size: 1.2rem;
  word-break: break-all;
}

.init_page .sensors {
  position: relative;
  width: 50%;
  height: fit-content;
  margin: auto;
  aspect-ratio: 1 / 1;
}

.init_page .lower_box .sensor_box .sensor {
  position: absolute;
  width : 48%;
  height : 48%;
  border-radius: 50%;
}

.init_page .lower_box .sensor_box .sensor_1 {
  top: 0;
  left: 0;
}

.init_page .lower_box .sensor_box .sensor_2 {
  top: 52%;
  left: 0;
}

.init_page .lower_box .sensor_box .sensor_3 {
  top: 0;
  left: 52%;
}

.init_page .lower_box .sensor_box .sensor_4 {
  top: 52%;
  left: 52%;
}

.init_page .lower_box .sensor_box img {
  width: 400px;
  height: 400px;
}

.init_page .upper_box,
.init_page .lower_box {
  position: relative;
  margin: 0 var(--base-space);
}

.init_page .upper_box > div,
.init_page .lower_box > div {
  position: absolute;
  top: 50%;
  left: 50%;
  /* background: #eee; */
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
  .init_page .sensors {
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  .init_page .sensors {
    width: 38%;
  }
}