<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Pocus</title>
  </head>
  <body>
    <%- include("../common/header", {isMain: "isMain", isLogined: isLogined}) %>
    <%- include("../pages/main") %>
  </body>
</html>
