<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>자세 설정</title>
  </head>
  <body>
    <%- include("../common/header", {isMain: "notMain", isLogined: isLogined})
    %>
    <main class="container">
      <h1>자세 설정</h1>
      <div>
        <a href="/pocus">
          <button class="btn btn-primary">START Pocus</button>
        </a>
      </div>
    </main>
  </body>
</html>
