<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Login</title>
  </head>
  <body>
    <%- include("../common/header", {is_main: "not_main", is_logined:
    is_logined}) %>

    <main class="container">
      <section class="d-flex flex-column align-items-center login_container">
        <h1>LOGIN</h1>
        <form
          method="POST"
          class="d-flex flex-column align-items-center login_form"
        >
          <p class="mb-4 login_err_msg <%= login_result %>">
            ๋ก๊ทธ์ธ์ ์คํจํ์ต๋๋ค. ๋ค์ ์๋ํด์ฃผ์ธ์!๐
          </p>
          <input type="text" name="id" class="form-control" placeholder="ID" />
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
          <button type="submit" class="btn btn-primary login_btn">Login</button>
          <a href="/register">Go to Register</a>
        </form>
      </section>
    </main>
  </body>
</html>
