<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <script defer src="/js/login.js"></script>

    <title>Login</title>
  </head>
  <body>
    <%- include("../common/header", {is_main: "not_main"}) %>

    <main class="container">
      <section class="d-flex flex-column align-items-center login_container">
        <h1>LOGIN</h1>
        <form class="d-flex flex-column align-items-center login_form">
          <input type="text" name="id" class="form-control" placeholder="ID" />
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
          <button class="btn btn-primary login_btn">Login</button>
          <a href="/register">Go to Register</a>
        </form>
      </section>
      <div class="login_result"></div>
    </main>
  </body>
</html>
