<main>
  <section class="section1">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="d-flex flex-column justify-content-center main_tit_box">
        <span class="tit" id="main_tit"></span>
        <p class="desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
          ratione aliquid blanditiis, possimus ipsam nulla harum quam obcaecati
          rerum omnis?
        </p>
        <div class="mt-5">
          <button class="btn btn-warning btn-lg fw-bold btn_get_start">
            Get START!
          </button>
        </div>
      </div>
      <div class="main_img_box">
        <%- include("../../static/image/main_img.svg") %>
      </div>
    </div>
    <div class="divider_shape_box">
      <%- include("../../static/image/shape_divider.svg") %>
    </div>
  </section>
</main>
