<main>
  <section class="section1">
    <div class="container d-flex flex-column flex-lg-row">
      <div class="d-flex flex-column justify-content-center main_tit_box">
        <span class="tit" id="main_tit"></span>
        <p class="desc">
          '나 지금 바르게 앉아 있나..? ', '또 자세 흐트러졌네..' 이런 고민 하고
          계셨나요? Pocus에게 자세 교정을 맡기고, 당신은 오로지 "일"에
          집중하세요!
        </p>
        <div class="mt-5">
          <button class="btn btn-warning btn-lg fw-bold btn_get_start">
            Get START!
          </button>
        </div>
      </div>
      <div class="main_img_box">
        <%- include("../../static/image/main_img.svg") %>
      </div>
    </div>
    <div class="divider_shape_box">
      <%- include("../../static/image/shape_divider.svg") %>
    </div>
  </section>
  <div class="container comment"></div>
  <div class="container recommand"></div>
</main>
