<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Pocus</title>
  </head>
  <body>
    <%- include("../common/header", {is_main: "not_main", is_logined:
    is_logined}) %>

    <main class="container">
      <h1>POCUS ZOOM</h1>
    </main>
  </body>
</html>
