<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Pocus</title>
  </head>
  <body>
    <%- include("../common/header", {isMain: "notMain", isLogined: isLogined})
    %>

    <main class="container">
      <h1>POCUS ZOOM</h1>
    </main>
  </body>
</html>
