<header class="d-flex align-items-center <%= is_main%>">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="/">Pocus</a>
    </div>
    <ul class="d-flex header_menu">
      <li><a href="/mypage">Mypage</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </div>
</header>
