article {
  padding-top: calc(var(--base-space) * 7);
}

.loginForm {
  margin-top: calc(var(--base-space) * 5);
  width: 30%;
}
.loginForm input {
  margin-bottom: calc(var(--base-space) * 2);
}

.loginForm button {
  width: 100%;
  margin-bottom: calc(var(--base-space) * 2);
}

.loginForm a {
  color: var(--color-black);
}
