.mypage_container {
  padding-top: calc(var(--base-space) * 7);
}

.tab_box {
  width: 100%;
  padding: calc(var(--base-space) * 7) 0;
}

.pocus_box {
  padding: calc(var(--base-space) * 5) 0;
}

table.log_table {
  margin-top: calc(var(--base-space) * 5);
}

table.log_table .w_10 {
  width: 10%;
}

table.log_table .w_30 {
  width: 30%;
}

form.personal_form {
  margin-top: calc(var(--base-space) * 10);
  width: 400px;
}

th,
td {
  text-align: center;
}
