:root {
  /* SIZE */
  --base-space: 8px;
  --height-header: 100px;

  /* COLOR */
  --color-white: #f9f8ff;
  --color-gray: #e7eaf5;
  --color-black: #454555;
  --color-blue: #3e75ff;
  --color-purple: #8c2eff;
  --color-orange: #ffc65c;

  /* COLOR-ALPHA */
  --color-black20: #45455520;
  --color-black40: #45455540;

  /* ANIMATION */
  --animation-duration: 0.4s;

  /* TypeIt */
  --ti-cursor-color: var(--color-orange);
}
