<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Login</title>
  </head>
  <body>
    <%- include("../common/header", {is_main: "not_main"}) %>

    <main class="container">
      <section class="d-flex flex-column align-items-center login_container">
        <h1>LOGIN</h1>
        <form class="d-flex flex-column align-items-center login_form">
          <input type="text" class="form-control" placeholder="ID" />
          <input type="password" class="form-control" placeholder="Password" />
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/register">Go to Register</a>
        </form>
      </section>
    </main>
  </body>
</html>
