<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../include") %>

    <title>Register</title>
  </head>
  <body>
    <%- include("../common/header", {is_main: "not_main"}) %>

    <main class="container">
      <h1>REGISTER</h1>
      <div>
        <a href="/login">login</a>
      </div>
    </main>
  </body>
</html>
